<!DOCTYPE>
<html>
<%= erb :header %>
<h1>About us</h1>
<p>We're tshirtly and we're here to offer you totally non unique merchandise to suit your everyday needs. Please allow excessive time for shipping.</p>
  </body>
  <footer><%= erb :page_footer %></footer>
</html>