<html>
	<head>
		<title>Tshirt.ly - Buy Cool T's</title>
	</head>
	<body>
		<header>
			<h1> Tshirt.ly </h1>
				<p><h2>Company Tagline + info</h2></p>
		</header>
		<div class="content">
		    <ul class = "tshirts">

				<% tshirts.each do |tshirt| %>
					<li>
						<a href = "/tshirts/<%= tshirt.id %>"> 
							<image src="<%= tshirt.image_url %>"></image>
							<br>
							<%= tshirt.style %>
						</a>
					</li>
				<% end %>
		    </ul>
	    </div>

					
					

	</body>
</html>