<!DOCTYPE>
<html>
  <head>
    <title>Tshirt.ly - Buy Cool T's</title>
    <!-- Link to stylesheet -->
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <!-- Link to GoogleFonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,700italic,800italic,400,300,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lora:400,400italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div>
    <header>
        <h1> Tshirt.ly <h1>
        <h2>Your source for cool T's</h2>
    </header>
    <h1>Add a T-Shirt</h1>
    <div class="lines"></div>
    <form class = "list" method = "post" action = "/tshirts" >
        <div class = "fields">
          <label>T-Shirt Style</label>
          <input type = "text" name = "style" placeholder="t-shirt style"><br />
          <label>Colour</label>
          <input type = "text" name = "color" placeholder="t-shirt colour"><br />
          <label>Quantity</label>
          <input type = "text" name = "quantity" placeholder="number only, please"><br />
          <label>Price</label>
          <input type = "text" name = "price" placeholder="numbers only, please"><br />
          <label>Description</label>
          <input type = "text" name = "description"><br />
          <label>T-Shirt Image</label>
          <input type = "text" name = "image" placeholder="link to image"><br />

          <button class = "create-button">Add to stock</button>
        </div>
    </form>
    </div>
  <%= erb :page_footer %>
  </body>
</html>