<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>

	
<footer>
<marquee>
<p style="text-align: center;">
<small>Copyright 2015<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>TShirt.ly Inc.<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>A subsidiary of Lin - McIntosh - Setzer & Shnir INC.<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>Please don't email us.</small>
</p>
</marquee>
</footer>
