<marquee>
<p style="text-align: center;">
<small>Copyright 2015<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>TShirt.ly Inc.<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>A subsidiary of Lin, McIntosh, Setzer, & Shnir, Inc.<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>Please don't email us.</small>
</p>
</marquee>
