<html>
<head>
		<title>Tshirt.ly - Buy Cool T's</title>
		<!-- Link to stylesheet -->
		<link rel="stylesheet" type="text/css" href="../css/styles.css">
		<!-- Link to GoogleFonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,700italic,800italic,400,300,600' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lora:400,400italic' rel='stylesheet' type='text/css'>

		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>

		<!-- Link to bootstrap + jquery + underscore -->
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
	<header>
		<h1> Tshirt.ly <h1>
		<h2>Your source for cool T's</h2>
		<nav class="navHeader">
			<ul>
				<li><a href="#">SHOP</a></li>
				<li><a href="#">ABOUT</a></li>
				<li><a href="#">ADMIN</a></li>
			</ul
		</nav>	
	</header>
	<div style="padding-top:100px; padding-left:50px;"class="confirm">
		<ul style="list-style-type: none;">
			<h3 style="padding-bottom:100px;">Congratulations!</h3>

			<li>You have sucessfully purchased:
			</li>
			<br>
			<li style="padding-left:80px;">  <%= sale.quantity_purchased %>  <%= tshirt.style %> at the price of $<%= sale.quantity_purchased * tshirt.price %> 
			</li>	
		</ul>	
	</div>
	<%= erb :page_footer %>
</body>
</html>
