<html>
<head>
	<title>Tshirt.ly - buy cool T's</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<header>
		<h1> Tshirt.ly <h1>
			<p> Company Tagline + info <p>
	<header>
	<div class="confirm">
		<ul>
			<h3>Congratulations!</h3>
			<li>You have sucessfully purchased:
			</li>
			<br>
			<li><%= sale.quantity_purchased %><%= tshirt.style %>
			</li>	
		</ul>	
	</div>
</body>
</html>
