<html>
<head>
	<title>Tshirt.ly - Buy Cool T's</title>
		<!-- Link to stylesheet -->
		<link rel="stylesheet" type="text/css" href="../css/styles.css">
		<!-- Link to GoogleFonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,700italic,800italic,400,300,600' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lora:400,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>
		<h1> Tshirt.ly <h1>
		<h2>Your source for cool T's</h2>
		<nav class="navHeader">
			<ul>
				<li><a href="#">SHOP</a></li>
				<li><a href="#">ABOUT</a></li>
				<li><a href="#">ADMIN</a></li>
			</ul
			</nav>	
	</header>
	<div class="confirm">
		<ul>
			<h3>Congratulations!</h3>
			<li>You have sucessfully purchased:
			</li>
			<br>
			<li><%= sale.quantity_purchased %><%= tshirt.style %>
			</li>	
		</ul>	
	</div>
	<%= erb :page_footer %>
</body>
</html>
