
h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-style: italic;
	color: white;
	font-size: 30px;
	padding-left: 50px;

}
h2{
	font-family: 'Lora', serif;
	color: white;
	font-size: 16px;
	padding-left: 150px;
	padding-bottom: 20px;
}
nav.navHeader ul li{
	padding: 0px 10px 20px 10px;
	display: inline;
	text-decoration: none;
	z-index: 999;
	font-color: white;
	float: right;

}
nav.navHeader ul li a{
	color: white;
	padding-bottom: 20px;
	text-decoration: none;
	padding-right: 20px;
	padding-top: 20px;
}
header{
	background-color: #404040;
	height: 100px;
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;

}
/*div.title{
	background-color: #404040;
	height: 150px;
	top: 0;
	left: 0;
	position: fixed;
	padding: 0px 0px 0px 0px;
	width: 100%;

}*/
li.tshirts{
	display: inline-block;
	text-decoration: none;
}
.container-fluid{
	padding-top: 200px;
}
body{
	margin: 0px 0px 0px 0px;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
  display: inline;
  padding: 10px 10px 10px 10px;
  margin: 10px
  

}
img {
    width:540px; /* you can use % */
    height: auto;
}

footer{
	top:95%;
	width: 100%
}